// Main Colors
$gold: #D08D56;
$dark-brown: #2B2A2A;
$cream: #DFD5BE;
$dark-cream: #DFD5BE80;
$dark: #2C3637;
$brown: #383330;

// Colors
$c_default-text: $cream;
$c_accent-text: $gold;
$c_secondary-text: $dark-brown;
$c_default-background: $dark-brown;
$c_secondary-background: $dark;
$c_info-section-background: $brown;
$c_default-text-hover: $dark-cream;
$c_secondary-text-hover: $cream;

// Fonts
$f_muller: 'Muller-Trial', sans-serif;
$f_etna: 'Etna', serif;
